[submodule "arduino-cmake"]
	path = arduino-cmake
	url = git://github.com/queezythegreat/arduino-cmake.git
[submodule "ArduinoNunchuk"]
	path = ArduinoNunchuk
	url = git@github.com:GabrielBianconi/ArduinoNunchuk.git
